<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>
  </nz-sider>

  <nz-layout
    class="right-layout"
    [ngClass]="isCollapsed ? 'active-right-layout' : 'inactive-right-layout'"
  >
    <nz-header class="header-wrapper">
      <app-navbar (handleHideShow)="handleHideShow()"></app-navbar>
    </nz-header>

    <nz-content class="main-container">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
