@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #07005b;
}

body.bit-wrapper {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 100%;
}

a {
  text-decoration: none;
}

span,
a {
  font-family: "Poppins", sans-serif;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0px;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.p-24 {
  padding: 24px;
}

.body-wrapper {
  background-color: #302a78;
}
.gap {
  gap: 20;
}
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-center {
  justify-content: center;
}
.direction-row {
  flex-direction: row;
}
.direction-column {
  flex-direction: column;
}
.direction-reverse {
  flex-direction: row-reverse;
}

.content-start {
  justify-content: flex-start;
}

.content-end {
  justify-content: flex-end;
}

.content-between {
  justify-content: space-between;
}

.content-evenly {
  justify-content: space-evenly;
}

.content-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}

.none {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.eye-icon {
  color: #fff;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.sidebar-scrollbar {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    background-color: #07005b;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #07005b;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #545085;
  }
}

.component-scrollbar {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #07005b;
  }
}

.scrollbar {
  // height: 100%;
  width: 100%;
  // overflow-y: auto;
  // overflow-x: hidden;

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #07005b;
  }
}

.loading-spinner {
  animation: loading-spinner 1s linear infinite;

  @keyframes loading-spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.inner-content {
  padding: 24px;
  background: #f1f3ff;
  height: 100%;

  @media (max-width: 576px) {
    padding: 10px;
  }
}

.no-data-found-content {
  margin: 40px 0;

  .img {
    margin-bottom: 20px;
    width: 180px;
  }

  .no-data-heading {
    font-weight: 600;
    font-size: 28px;
    color: #352f7f;
  }
}

.cdk-global-scrollblock {
  position: inherit !important;
  overflow-y: hidden !important;
}

.drop-down-option {
  // background-color: red;
  z-index: 1 !important;

  .ant-select-dropdown {
    z-index: 1 !important;
  }
}
